<<<<<<< HEAD
.card {
=======
.card{
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
    width: 200px;
    height: 460px;
    justify-content: flex-start;
    gap: 30px;
}

<<<<<<< HEAD
.card img {
=======
.card img{
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
    width: 200px;
    height: 200px;
    background: white;
    object-fit: contain;
}
<<<<<<< HEAD

.card .flex-column {
    gap: 10px;
}

.card p {
    color: #adadad;
}

.card .preco {
    font-size: 1.2rem;
}

.container-ssd {
=======
.card .flex-column{
    gap: 10px;
    
}

.card p{
    color: #adadad;
}

.card .preco{
    font-size: 1.2rem;
}

.container-ssd{
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    border-top: 1px solid #8d8d8d;
    padding: 20px 0px;
}

<<<<<<< HEAD
.container-ssd h2 {
    text-align: center;
}

.container-produtos .card {
=======
.container-ssd h2{
    text-align: center;
}
.container-produtos .card{
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
    margin-top: 20px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.div-btn {
=======
.div-btn{
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
    height: 100%;
    display: flex;
    align-items: end;
}

<<<<<<< HEAD
button {
=======
button{
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
    height: 30px;
    background: #bbbbbb70;
    border-radius: 30px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

<<<<<<< HEAD
button:hover {
    background: #494949;
}
=======
button:hover{
    background: #494949;
}
>>>>>>> ce2fc428cfdbffb4a875248a9aaa151b4012da33
