*{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
body{
    background: #ffffff;
}

.container-cabecalho{
    height: 150px;
    padding: 20px;
    background: #3d3d3d;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.container-cabecalho .flex-column{
    width: 80%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.container-cabecalho .flex-column .logo,
.container-cabecalho .flex-column .links
{
    width: fit-content;
}

.container-cabecalho .flex-column .links
{
    gap: 30px;
}
.container-cabecalho .flex-column .links a
{
    text-decoration: none;
    color: white;
}

.container-conteudo{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container-conteudo h2{
    width: fit-content;
}

.produtos{
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

.card{
    width: 150px;
    height: fit-content;
}

.card img{
    /* width: 200px; */
    object-fit: contain;
}
