*{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    color: white;
}
body{
    background: #3d3d3d;
}

.container-cabecalho{
    height: 150px;
    padding: 20px;
    background: #3d3d3d;
    font-size: 1.2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.container-cabecalho .flex-column{
    width: 80%;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.logo{
    background-image: url('./imagens/Gemini_Generated_Image_7u8zv7u8zv7u8zv7.png');
    width: 400px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-cabecalho .flex-column .links
{
    width: fit-content;
}

.container-cabecalho .flex-column .links
{
    gap: 30px;
}
.container-cabecalho .flex-column .links a
{
    text-decoration: none;
    color: white;
}

.container-conteudo{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container-conteudo h2{
    width: fit-content;
}

.produtos{
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

.card{
    width: 200px;
    height: 350px;
}

.card img{
    width: 200px;
    height: 200px;
    background: white;
    object-fit: contain;
}
.card .flex-column{
    gap: 10px;
    
}
.card h4{
    /* color: #3d3d3d; */
}

.card p{
    color: #adadad;
}